.header {
    height: 10vh;
    background-color: #323232;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &__buttons {
        height: 5vh;
        width: 10vmax;
        cursor: pointer;
        background-color: #535C91;
        color: #EEEEEE;
        border: none;
        font-size: 1.5rem;

        &:hover {
            background-color: #454444;
            color: #1E1C1C;
        }
    }

    &__button-first {
        border-radius: 10px 0 0 10px;
    }


    @media only screen and (max-width: 1000px) {

        &__buttons {
            font-size: 0.9rem;
        }
    }
}