.mainpage {
    height: 45vh;
    width: 70vw;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(8, 46, 56);
    color: white;
}