.quizElement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;

    &__answer-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__answer-button {
        padding: 20px;
        height: 10vh;
        width: 8vw;
        margin: 0 1vw;
        cursor: pointer;
        background-color: rgb(8, 46, 56);
        color: white;
        border: none;
        font-size: 1rem;

        &:hover {
            background-color: rgb(185, 247, 226);
            color: black;
        }
    }

    &__category {
        text-align: center;
    }

    &__question {
        text-align: center;
    }

    &__answer {
        text-align: center;
        font-weight: 800;
    }

    &__next-button {
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        background-color: rgb(8, 46, 56);
        color: white;
        border: none;
        font-size: 1.5rem;
        margin-top: 5vh;

        &:hover {
            background-color: rgb(185, 247, 226);
            color: black;
        }
    }

    &__result-button {
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        background-color: rgb(121, 255, 210);
        border: none;
        font-size: 1.5rem;
        margin-top: 5vh;

        &:hover {
            background-color: rgb(235, 254, 248);
        }
    }
}