.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;

    &__start-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__difficulty-level {
        text-align: center;
        background-color: #323232;
        border-radius: 15px;
        padding: 1vh 0;
        width: 22vmax;
        margin-top: 5vh;
    }

    &__difficulty-value {
        text-transform: capitalize;
        margin: 0;
        font-size: 2.5rem;
    }

    &__start-button {
        height: 8vh;
        width: 15vmax;
        margin-top: 2vh;
        background-color: #535C91;
        color: #EEEEEE;
        border-radius: 15px;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    @media only screen and (max-width: 1000px) {
        &__difficulty-level {
            font-size: 1rem;
        }

        &__start-button {
            width: 23vmax;
        }
    }
}